# Ejemplo de .env para backend
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nicoruades
DB_USER=postgres
DB_PASSWORD=1234
DATABASE_URL=

JWT_SECRET=tu-cadena-secreta-muy-larga-y-aleatoria
PORT=3000

EMAIL_USER=tu-email@gmail.com
EMAIL_PASS=tu-password-email

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
